body{
    background-color: burlywood;
}
.myLinks{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    background-color: cadetblue;
    flex:2;
}
.myLinks1{
    display: flex;
    box-shadow: 2px 2px 10px;
    justify-content: center;
    align-items: center;
}

.myLinks1 a{
    background-color: red;
}